extends navigation

block content
  div(class="row featured-menu")
    div(class="col-xs-6")
      button(class="btn transparent-flat-btn full-btn") LOGIN
    div(class="col-xs-6")
      button(class="btn orange-flat-btn full-btn") REGISTER
  ul(class="row horizontal-list-menu no-vertical-margin")
    li(class="col-xs-12 menu tosca-text")
      i(class="fa fa-truck")
      span Lacak Pesanan
    li(class="col-xs-12 menu tosca-text")
      i(class="fa fa-question-circle")
      span Bantuan
