.tosca-text {
  color: #00a79d !important; }

div.nav {
  background-color: #00a79d;
  box-shadow: 0px 1px 5px #515151 !important;
  color: white;
  height: 3.5em;
  z-index: 10;
  position: fixed;
  width: 100%; }
  div.nav .row {
    padding: 0.5em 1em; }
    div.nav .row .fa {
      font-size: 1.6em;
      margin-top: 0.2em; }
    div.nav .row .fa:hover {
      opacity: 0.8;
      cursor: pointer; }
    div.nav .row img.logo {
      height: 2.25em; }

div.login-section {
  padding-top: 6em;
  height: 100vh;
  background-color: #00a79d; }
  div.login-section .login-box {
    height: 500px; }
    div.login-section .login-box h3, div.login-section .login-box span, div.login-section .login-box a {
      color: white; }
    div.login-section .login-box form div {
      margin-top: 0em;
      padding: 0px; }

.alert-message {
  background-color: #d9534f !important;
  color: white !important;
  border-left: 5px solid white;
  padding: 1em 0em; }
  .alert-message i.fa {
    float: right; }

.my-form label {
  font-weight: 400; }
.my-form input {
  background-color: white;
  border-radius: 0px !important;
  border: none !important;
  box-shadow: none !important; }
.my-form input:focus {
  box-shadow: 0px 1px 10px #515151 !important; }

.form-group.error input {
  border: solid 1px #d9534f !important; }
.form-group.error label {
  background-color: #d9534f;
  color: white; }

.form-group.success input {
  border: solid 1px green !important; }

.white-space-top {
  margin-top: 1em; }

.white-btn {
  background-color: white;
  color: #00a79d !important; }

.white-btn:hover, .white-btn:focus {
  color: #00a79d !important;
  background-color: #efefef; }

.blue-btn {
  background-color: #4267b2;
  color: white !important; }

.full-btn {
  width: 100%; }

.sidebar {
  position: fixed;
  -ms-transform: translate(-100%, 0px);
  /* IE 9 */
  -webkit-transform: translate(-100%, 0px);
  /* Safari */
  transform: translate(-100%, 0px);
  transition: all 0.3s ease;
  width: 18em;
  height: 100vh;
  background-color: white;
  box-shadow: 0px 1px 5px #515151 !important;
  z-index: 9; }
  .sidebar .featured-menu {
    padding-top: 4.5em;
    background-color: #00a79d;
    height: 8.5em;
    margin-bottom: 0.5em; }

.transparent-flat-btn, .transparent-flat-btn:focus {
  height: 3em;
  border-radius: 0em !important;
  background-color: transparent !important;
  border: solid 1px white !important;
  color: white !important; }

.transparent-flat-btn:hover {
  height: 3em;
  border-radius: 0em !important;
  background-color: white !important;
  border: solid 1px white !important;
  color: #00a79d !important;
  transition: all 0.2s ease; }

.orange-flat-btn, .orange-flat-btn:focus {
  height: 3em;
  border-radius: 0em !important;
  background-color: #ff951d !important;
  border: solid 1px #ff951d !important;
  color: white !important; }

.orange-flat-btn:hover {
  height: 3em;
  border-radius: 0em !important;
  background-color: #cf7815 !important;
  border: solid 1px #cf7815 !important;
  color: white !important;
  transition: all 0.2s ease; }

.horizontal-list-menu {
  list-style-type: none;
  padding-left: 0em; }
  .horizontal-list-menu .menu {
    color: #797979;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    margin: 0em; }
    .horizontal-list-menu .menu i.fa {
      margin-right: 1em; }
  .horizontal-list-menu .menu:hover {
    color: white !important;
    background-color: #00a79d;
    cursor: pointer;
    transition: all 0.1s ease; }

.no-vertical-margin {
  margin-top: 0em !important;
  margin-bottom: 0em !important; }

.overlay {
  z-index: 8;
  opacity: 0.8;
  overflow-x: hidden;
  background-color: black;
  position: fixed;
  width: 100%;
  height: 100%;
  display: none;
  cursor: pointer; }

.lock-scrolling {
  height: 100vh;
  overflow: hidden; }

.search-bar {
  z-index: 9;
  position: fixed;
  width: 100%;
  height: 8em;
  background-color: white;
  box-shadow: 0px 1px 5px #515151 !important;
  -ms-transform: translate(0px, -100%);
  /* IE 9 */
  -webkit-transform: translate(0px, -100%);
  /* Safari */
  transform: translate(0px, -100%);
  transition: all 0.3s ease; }
  .search-bar form {
    margin-top: 4.5em; }
    .search-bar form div.form-group {
      position: relative; }
      .search-bar form div.form-group input {
        border-radius: 0em !important; }
      .search-bar form div.form-group i.fa {
        color: #797979;
        position: absolute;
        top: 0.6em;
        right: 1em; }
      .search-bar form div.form-group i.fa:hover {
        color: black;
        cursor: pointer; }

.slide-in {
  -ms-transform: translate(0px, 0px);
  /* IE 9 */
  -webkit-transform: translate(0px, 0px);
  /* Safari */
  transform: translate(0px, 0px);
  transition: all 0.3s ease; }

/*# sourceMappingURL=style.css.map */
